<form method="POST" class="row g-3 calc-form" data-tab-form="ipv6">
    <input type="hidden" name="tab" value="ipv6">
    <div class="col-lg-10">
        <label class="form-label small text-secondary">Endereço IPv6</label>
        <input type="text" name="ipv6" class="form-control bg-dark text-light border-secondary {#if invalidFields.contains('ipv6')}is-invalid{/if}"
               placeholder="Ex.: 2001:db8::1" value="{ipv6Pre}" maxlength="45" autocomplete="off" spellcheck="false">
    </div>
    <div class="col-lg-2 tab-actions d-grid gap-2">
        <button type="submit" name="modo" value="ipv6" class="aed-btn aed-btn-execute w-100"
                data-bs-toggle="tooltip" data-bs-placement="top"
                title="Executar: expandir, comprimir e analisar o endereço IPv6 informado">
            <span class="material-symbols-outlined">play_arrow</span> Executar
        </button>
    </div>
</form>
